@use './colors.scss' as colors;
@font-face {
  font-family: 'pkmn';
  src: url('../public/assets/fonts/pkmn/PKMNRBYGSC.ttf');
}

body {
  font-family: 'pkmn', monospace, sans-serif;
  color: colors.$ink;
}

.stats {
  position: fixed;
  bottom: 2em;
  right: 2em;
  border-radius: 1em;
  background: colors.$parchment;
  font-weight: bold;
  padding: 1em 2em;

  .bar {
    margin-bottom: 0.5em;
  }
}

.game-over {
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  background-color: colors.$ink-tr;
  display: flex;
  place-content: center;

  .notice {
    padding: 2em 3em;
    background-color: colors.$parchment;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    place-items: center;

    .ty {
      margin: 1em
    }

    h1 {
      font-size: 72px;
    }

    .stats {
      position: static;
    }

    button {
      padding: 1em 3em;
      font-size: 36px;
      border-radius: 1em;
      border: 1px solid colors.$ink;
      background-color: colors.$parchment;
    }
  }
}

#minimap {
  position: fixed;
  bottom: 1em;
  left: 1em;
  border-radius: 1em;
  padding: 1em 2em;
  white-space: pre-wrap;
  background-color: colors.$parchment-tr;
  max-width: 40vw;
  font-size: 10px;
  pointer-events: none;
}