@use './colors.scss' as colors;
@tailwind base;
@font-face {
  font-family: 'pkmn';
  src: url('../public/assets/fonts/pkmn/PKMNRBYGSC.ttf');
}

body {
  font-family: 'pkmn', monospace, sans-serif;
}

.stats {
  position: fixed;
  bottom: 2em;
  right: 2em;
  border-radius: 1em;
  background: colors.$parchment;
  color: colors.$ink;
  font-weight: bold;
  padding: 1em 2em;

  .bar {
    margin-bottom: 0.5em;
  }
}